<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="main :: head">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand">
            <i class="fas fa-book-reader mx-1"></i> Sistema Intitucion Integral
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/registrar}">Registrar</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container p-4">
    <div class="card text-center">
        <div class="card-header">
            <div class="card-body">
                <h3>Lo sentimos, no pudimos verificar la cuenta. Puede que ya este verificada o que el codigo de
                    verificacion sea incorrecto</h3>
            </div>
        </div>
    </div>
</div>
</body>
</html>